@font-face {
  font-family: "Petit Formal Script";
  src: url("/src/assets/fonts/PetitFormalScript-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/PetitFormalScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.HeaderSection__sticked {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* To ensure it's above everything else */
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5em max(7vw, 1em);
  font-size: clamp(1.5rem, 2vw, 50rem);

  /* Box shadow for the bottom */
  box-shadow: 0 0.1em 0.25em var(--box-shadow-color);
  background: var(--body-background-color);
  transition: all 0.4s;
}

.HeaderSection__detachable {
  position: fixed;
  top: 2.5%;
  left: 5%;
  right: 5%;
  /* To ensure it's above everything else */
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em max(7vw, 1em);
  font-size: clamp(1.5rem, 2vw, 50rem);

  /* Box shadow for the bottom */
  box-shadow: 0 0.1em 0.25em var(--box-shadow-color);
  background: var(--body-background-color);
  border-radius: 1.1em;
  transition: all 0.4s;
}

.HeaderSection__initials {
  font-size: clamp(2.25rem, 3vw, 30rem);

  font-family: "Petit Formal Script", cursive;
}

.HeaderSection__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
}
