.HeroSection {
  margin: 2em auto;
  padding: 4em var(--padding-left-right) 0em;
  font-size: clamp(1.6rem, 2.5vw, 50rem);
}

.HeroSection__name {
  font-weight: 200;
}

.HeroSection__title {
  font-size: clamp(3rem, 4vw, 50rem);
}

.HeroSection__image {
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.3em 0 var(--box-shadow-color);
  margin: 0 auto;
  max-width: max(50vw, 400px);
  width: 100%;
}

.HeroSection__cta {
  margin: 2em 0 4em;
}

@media (min-width: 800px) {
  .HeroSection {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  .HeroSection__image {
    align-self: flex-start;
    max-width: 30vw;
    width: 40%;
  }
}
