.ProjectsSection {
  padding: 2em var(--padding-left-right);

  counter-reset: project-counter;
}

.ProjectsSection__title {
  margin-bottom: 2em;
}

.ProjectsSection__project {
  display: flex;
  flex-direction: column;

  margin: 0 auto 6em;
}

.project__title {
  margin-bottom: 0.25em;

  counter-increment: project-counter;
}

.project__title::before {
  margin-right: 0.2em;
  font-size: 0.85em;

  content: counter(project-counter) ". ";
}

.project__description {
  margin-bottom: 1em;
  font-size: clamp(1rem, 1vw, 50rem);
}

.project__link {
  display: inline-flex;
  align-items: center;

  gap: 0.5em;
  font-size: clamp(1rem, 1.2vw, 50rem);

  text-decoration: underline;
  transition: all 0.3s;
}

.project__link:hover {
  opacity: 0.5;
}

.project__info {
  margin: 0 auto 2em;
}

.project__image {
  margin: auto;
  max-width: 20em;
  width: 100%;

  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.5em var(--text-color);
}

.ProjectsSection__load-more-projects-button {
  display: block;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .ProjectsSection__project {
    justify-content: space-between;
    flex-direction: row;

    gap: 2em;
  }

  /* Selects every odd-numbered ProjectsSection__project element and applies order property of the project__info element to 2 in flexbox layout to its child element with class project__info */
  .ProjectsSection__project:nth-child(odd) .project__info {
    order: 2;
  }
}
