.App {
  font-size: clamp(1.4rem, 1.7vw, 50rem);
  cursor: none;
}

/* Custom cursor styles */
.cursor-dot {
  height: 0.2em;
  width: 0.2em;

  background: var(--text-color);
}

.cursor-outline {
  height: 1.25em;
  width: 1.25em;

  opacity: 0.5;
  border: 0.075em solid var(--text-color);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  z-index: 2000;

  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
